[submodule "Urho3D/Source"]
	path = Urho3D/Source
	url = https://github.com/sweep3r/xUrho3D.git
	branch = sdl204
[submodule "Samples"]
	path = Samples
	url = https://github.com/sweep3r/urho-samples.git
